/* Общие стили */

body {
  font-family: "PT Sans", "Ariel", sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: normal;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  background-color: #f2f2f2;
}

@font-face {
  font-weight: normal;
  font-style: normal;

  font-family: "symbols-sedona";
  src: url("../fonts/symbols-sedona.woff") format("woff"),
       url("../fonts/symbols-sedona.woff2") format("woff2");
}

[class^="icon-"]::before,
[class*=" icon-"]::before {
  display: inline-block;
  width: 1em;
  margin-right: 0.2em;
  margin-left: 0.2em;

  font-weight: normal;
  line-height: 1em;
  font-family: "symbols-sedona";
  text-align: center;
  text-transform: none;
  text-decoration: inherit;
  font-style: normal;
  font-variant: normal;
  speak: none;
}

.icon-facebook::before { content: "\66"; } /* "f" */
.icon-twitter::before { content: "\74"; } /* "t" */
.icon-up-dir::before { content: "\25b2"; } /* "▲" */
.icon-down-dir::before { content: "\25bc"; } /* "▼" */
.icon-star::before { content: "\2605"; } /* "★" */
.icon-check-off::before { content: "\2610"; } /* "☐" */
.icon-check-on::before { content: "\2611"; } /* "☑" */
.icon-calendar::before { content: "\e800"; } /* "" */
.icon-plus::before { content: "\e801"; } /* "" */
.icon-minus::before { content: "\e802"; } /* "" */
.icon-youtube::before { content: "\f39e"; } /* "" */

/* Стили для спрайта*/

.s-2-stars, .s-3-stars, .s-4-stars{
	background: url(../img/sprites.png) no-repeat;
}

.s-2-stars{
	background-position: 0 0;
	width: 42px;
	height: 17px;
}

.s-3-stars{
	background-position: 0 -20px ;
	width: 65px;
	height: 17px;
}

.s-4-stars{
	background-position: 0 -40px ;
	width: 89px;
	height: 17px;
}



a {
  color: black;
  text-decoration: none;
}

p {
  text-align: center;
  text-transform: uppercase;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}


h2 {
  font-family: "PT Sans", "Ariel", sans-serif;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

/* Стили для хедера */

.main-header {
  background-color: #fff;
  text-align: center;
}

.main-header ul {
  margin: 0;
  padding: 0;
  font-size: 0;
  list-style: none;
}

.main-header li {
  display: inline-block;
  vertical-align: top;
  width: 20%;
  text-align: center;
}

.main-header a {
  padding: 15px 0;
  font-family: "PT Sans", "Ariel", sans-serif;
  font-size: 14px;
  font-weight: bold;
  line-height: 26px;
  background-color: white;
  display: block;
}

.main-header a:hover {
  color: #81b3d2;
}

.main-header li:nth-child(3) a {
  padding: 0;
  margin-bottom: -50px;
  background-color: transparent;
}

.main-header img {
  position: relative;
  z-index: 10;
}

.content-feature1 .description {
  width: 300px;
  height: 156px;
  float: left;
  background-color: #81b3d2;
  color: white;
  padding: 50px;
}

.content-feature1 .image {
  width: 800px;
  height: 256px;
  float: right;
}

.content-feature2 .description {
  width: 300px;
  height: 156px;
  float: right;
  background-color: #81b3d2;
  color: white;
  padding: 50px;
}

.content-feature2 .image {
  width: 800px;
  height: 256px;
  float: left;
}

.content-3features {
  background-color: #eee;
}

.content-3features div {
  width: 230px;
  margin: 45px 85px;
  float: left;
}

.content-options{
  background-color: white;
  text-align: center;
}

.content-options div {
  width: 260px;
  float: left;
  margin: 50px 70px;
}

.content-promo {
  width: 500px;
  margin: 0 auto;
}

.content-promo p {
  margin-bottom: 50px;
}

.main-container {
  width: 1200px;
  background-color: #fff;
  margin: 0 auto;
  position: relative;
  box-shadow: 0 0 15px 0 #dbdbdb;
}

.main-picture {
  position: relative;
  background-image: url("../img/background-photo.png");
  background-color: #81b3d2;
  text-align: center;
  width: 1200px;
  height: 510px;
  margin: 0;
  margin-bottom: 55px;
}

.main-picture::after {
  content: '';
  width: 100%;
  height: 55px;
  position: absolute;
  bottom: 0px;
  left: 50%;
  margin-left: -50%;
  background-image: url('../img/background-decoration.png')
}

.main-picture img {
  width: 458px;
  height: 352px;
  margin-top: 75px;
}

/*Стили для контейнера с формой*/


/* Стили для футера */

.main-footer {
  background-color: white;
  text-align: center;
  margin-top: -108px;
  background-color: rgba(255, 255, 255, 0.7);
}

.main-footer div {
  width: 400px;
  float: left;
  padding: 35px 0;

}

.inner-footer {
  background-color: white;
  text-align: center;
}

.inner-footer div {
  width: 400px;
  float: left;
  padding: 35px 0;

}

.insta-tag {
  font-family: "PT Sans", "Ariel", sans-serif;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  margin-top: 10px;
}

.developer span {
   display: inline-block;
   vertical-align: middle;
}

.developer img {
   display: inline-block;
   vertical-align: middle;
}


/* Стили для внутренней страницы */


.filters {
  background: #81b3d2 url("../img/filter-background.png") no-repeat;
}

.hotel-filters label {
  color: white;
}

.hotel-filters input[type="checkbox"] {
  display: none;
}

.hotel-filters input[type="checkbox"] + label {
  display: block;
  line-height: 50px;
  padding-left: 45px;
  position: relative;
}

.hotel-filters input[type="checkbox"] + label::before {
  content: "\2610";
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
  font-size: 26px;
  font-family: "symbols-sedona";
}

.hotel-filters input[type="checkbox"]:checked + label::before {
  content: "\2611";
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
  font-size: 26px;
  font-family: "symbols-sedona";
}

.infra {
  width: 120px;
  float: left;
  margin: 15px 70px;
  line-height: 38px;
}

.infra div:nth-child(1) {
  font-size: 16px;
  font-weight: bold;
  color: white;
}

.accom {
  width: 120px;
  float: left;
  margin: 15px 70px;
  line-height: 38px;
}

.accom div:nth-child(1) {
  font-size: 16px;
  font-weight: bold;
  color: white;
}

/* Стили для слайдера */

.filter-range {
  float: right;
  width: 330px;
  display: inline-block;
  vertical-align: top;
  margin: 28px 70px;

  color: #ffffff;
  text-transform: uppercase;
}

.filter-range-title {
  margin-bottom: 9px;

  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
}

.price-controls {
  position: relative;

  height: 36px;
  margin-bottom: 20px;

  font-size: 0;

  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  width: 2px;
  height: 22px;

  background: #ffffff;
  transform: translate(-50%, -50%);
}

.price-controls label {
  display: inline-block;

  font-size: 14px;
  line-height: 38px;
  vertical-align: top;

  cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
  width: 90px;
  padding-left: 65px;
}

.price-controls input {
  width: 50px;
  margin: 0;

  color: inherit;
  font: inherit;

  background: none;
  border: none;
  outline: none;
}

.range-controls {
  position: relative;

  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;

  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;

  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;

  width: 4px;
  height: 4px;

  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover {
  background: #1c4f80;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.btn-transparent {
  display: block;
  margin: 0 auto;
  padding: 6px 35px;

  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;

  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  outline: none;
  cursor: pointer;
}

.btn-transparent:hover {
  color: #000000;

  background: #ffffff;
}

.sorted-hotels {
  position: relative;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

.sorted-hotels b {
  display: inline-block;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  margin: 30px 40px 30px 70px;
  vertical-align: middle;
}

.sorted-hotels span,
.sorted-hotels a {
  font-size: 12px;
  line-height: 18px;
  margin: 30px 15px;
  display: inline-block;
  vertical-align: middle;
}

.sorted-hotels a {
  border-bottom: 1px dashed rgba(0, 0, 0, 0.5);
  color: rgba(0, 0, 0, 0.5);
}

.sorted-hotels span:nth-child(3) {
  color: #81b3d2;
}

.sorted-hotels a:active {
  color: #81b3d2;
}

.sorted-hotels a:hover {
  color: #81b3d2;
  border-bottom: 1px dashed #81b3d2;
}

.buttons {
  display: inline-block;
  position: absolute;
  right: 55px;
  top: 27px;
}

.icon-up-dir {
  font-size: 21px;
  background-color: transparent;
  border: none;
  color: #ccc;
  margin-right: -22px;
}

.icon-down-dir {
  font-size: 21px;
  background-color: transparent;
  border: none;
  color: #81b3d2;
}

.hotel {
  position: relative;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

.hotel-image,
.hotel-booking {
  display: inline-block;
  vertical-align: middle;
  margin: 23px 0;
}

.hotel-booking p {
  text-align: left;
  line-height: 14px;
}

.hotel-booking h1 {
  font-size: 21px;
  font-weight: bold;
  line-height: 21px;
  margin: 0;
  padding: 0;
}

.hotel-booking a  {
  color: #fff;
  font-weight: bold;
  line-height: 21px;
}

.info,
.book {
  display: inline;
  padding: 4px 15px;
  margin-right: 5px;
}

.info {
  background-color: #81b3d2;
}

.book {
  background-color: #766357;
}

.hotel-image {
  margin-left: 70px;
}

.hotel-booking {
  margin-left: 28px;
}

.rating {
  font-size: 14px;
  line-height: 21px;
  background-color: #f2f2f2;
  padding: 4px 15px;
  float: right;
  margin-top: 90px;
  margin-right: 70px;
  position: relative;
}

.hotel1 .rating::before {
  content: "";
  position: absolute;
  top: -62px;
  left: 21px;
  background-image: url("../img/sprites.png");
  background-position: 0 -40px ;
	width: 89px;
	height: 17px;
}

.hotel2 .rating::before {
  content: "";
  position: absolute;
  top: -62px;
  left: 68px;
  background-image: url("../img/sprites.png");
  background-position: 0 0;
	width: 42px;
	height: 17px;
}

.hotel3 .rating::before {
  content: "";
  position: absolute;
  top: -62px;
  left: 45px;
  background-image: url("../img/sprites.png");
  background-position: 0 -20px ;
	width: 65px;
	height: 17px;
}
