/* Общие стили */

body {
  font-family: "PT Sans", "Ariel", sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: normal;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  background-color: #f2f2f2;
}

a {
  color: black;
  text-decoration: none;
}

p {
  text-align: center;
  text-transform: uppercase;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}


h2 {
  font-family: "PT Sans", "Ariel", sans-serif;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

/* Стили для хедера */

.main-header {
  background-color: #fff;
  text-align: center;
}

.main-header ul {
  margin: 0;
  padding: 0;
  font-size: 0;
  list-style: none;
}

.main-header li {
  display: inline-block;
  vertical-align: top;
  width: 20%;
  text-align: center;
}

.main-header a {
  padding: 15px 0;
  font-family: "PT Sans", "Ariel", sans-serif;
  font-size: 14px;
  font-weight: bold;
  line-height: 26px;
  background-color: white;
  display: block;
}

.main-header a:hover {
  color: #81b3d2;
}

.main-header li:nth-child(3) a {
  padding: 0;
  margin-bottom: -50px;
  background-color: transparent;
}

.main-header img {
  position: relative;
  z-index: 10;
}

.content-feature1 .description {
  width: 300px;
  height: 156px;
  float: left;
  background-color: #81b3d2;
  color: white;
  padding: 50px;
}

.content-feature1 .image {
  width: 800px;
  height: 256px;
  float: right;
}

.content-feature2 .description {
  width: 300px;
  height: 156px;
  float: right;
  background-color: #81b3d2;
  color: white;
  padding: 50px;
}

.content-feature2 .image {
  width: 800px;
  height: 256px;
  float: left;
}

.content-3features {
  background-color: #eee;
}

.content-3features div {
  width: 230px;
  margin: 45px 85px;
  float: left;
}

.content-options{
  background-color: white;
  text-align: center;
}

.content-options div {
  width: 260px;
  float: left;
  margin: 50px 70px;
}

.content-promo {
  width: 500px;
  margin: 0 auto;
}

.content-promo p {
  margin-bottom: 50px;
}

.main-container {
  width: 1200px;
  background-color: #fff;
  margin: 0 auto;
  position: relative;
  box-shadow: 0 0 15px 0 #dbdbdb;
}

.main-picture {
  position: relative;
  background-image: url("../img/background-photo.png");
  background-color: #81b3d2;
  text-align: center;
  width: 1200px;
  height: 510px;
  margin: 0;
  margin-bottom: 55px;
}

.main-picture::after {
  content: '';
  width: 100%;
  height: 55px;
  position: absolute;
  bottom: 0px;
  left: 50%;
  margin-left: -50%;
  background-image: url('../img/background-decoration.png')
}

.main-picture img {
  width: 458px;
  height: 352px;
  margin-top: 75px;
}

/*Стили для контейнера с формой*/

.content-find-hotel {
  background-color: white;
  text-align: center;
}

.content-find-hotel b {
  font-size: 30px;
  font-weight: bold;
  padding-top: 55px;
  display: block;
}

.content-find-hotel p {
  width: 400px;
  margin: 0 auto;
  padding: 30px 0;
}

.search-hotel {
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  color: #fff;
  background-color: #766357;
  width: 291px;
  padding: 30px 138px;
  margin: 0 auto;
}

.find-form {
  background-image: url("../img/map.png");
  background-color: pink;
  width: 100%;
  height: 593px;
}

.find-form form {
  display: none;
}

/* Стили для футера */

footer {
  background-color: white;
  text-align: center;
  /*opacity: 0.5;*/
}

footer div {
  width: 400px;
  float: left;
  padding: 35px 0;
  background-color: transparent;
}

.insta-tag {
  font-family: "PT Sans", "Ariel", sans-serif;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
}

.developer span {
   display: inline-block;
   vertical-align: middle;
}

.developer img {
   display: inline-block;
   vertical-align: middle;
}


/* Стили для внутренней страницы */

/* Стили для слайдера */
.filters {
  background: #81b3d2 url("../img/filter-background.png") no-repeat;
}

.hotel-filters {
  display: flex;
}

.hotel-filters label {
  color: white;
}

.hotel-filters span {
  font-size: 16px;
  font-weight: bold;
  color: white;
}

.infra {
  width: 100px;
  margin: 25px 70px;
}

.accom {
  width: 100px;
  margin: 25px 70px;
}

.filter-range {
  width: 330px;
  display: inline-block;
  vertical-align: top;
  margin: 25px 70px;

  color: #ffffff;
  text-transform: uppercase;
}

.filter-range-title {
  margin-bottom: 9px;

  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
}

.price-controls {
  position: relative;

  height: 36px;
  margin-bottom: 20px;

  font-size: 0;

  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  width: 2px;
  height: 22px;

  background: #ffffff;
  transform: translate(-50%, -50%);
}

.price-controls label {
  display: inline-block;

  font-size: 14px;
  line-height: 38px;
  vertical-align: top;

  cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
  width: 90px;
  padding-left: 65px;
}

.price-controls input {
  width: 50px;
  margin: 0;

  color: inherit;
  font: inherit;

  background: none;
  border: none;
  outline: none;
}

.range-controls {
  position: relative;

  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;

  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;

  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;

  width: 4px;
  height: 4px;

  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover {
  background: #1c4f80;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.btn-transparent {
  display: block;
  margin: 0 auto;
  padding: 6px 35px;

  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;

  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  outline: none;
  cursor: pointer;
}

.btn-transparent:hover {
  color: #000000;

  background: #ffffff;
}

/*
.filters {
  height: 562px;
  background-color: #ffb458;
}

.sorted-hotels {
  background-color: white;
}

.next {
  float: right;
}

.previous {
  float:  right;
}

.main-picture-decoration {
  height: 57px;
  background-color: #458855;
}

.promo {
  background-color: #7590f3;
}

.hotel img {
  float: left;
}

.rating {
  float: right;
}

.hotel1,
.hotel3 {
  background-color: #91f1e0;
}

.hotel2 {
  background-color: #d2d3f4;
}

footer {
  background-color: pink;
}

*/
